@model thechauffeurteam.Models.Eclass

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Eclass</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstMile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstMile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PerMiles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PerMiles)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
