@model thechauffeurteam.Models.ViewModel.DriverRegistrationViewModel

@{
    ViewBag.Title = "Add New Driver";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="col-md-12 driverReg mt-1" style="width:100%;background-color:white; margin-top:5%; margin-bottom:100px; ">
    <div class="justify-content-center">
        <div class="register-form driverAndPassengerRegisterForm">
            <div class="row">

                <div class="col-md-12" style="text-align :center;background-color:#1853a1;font-family:Arial;padding:20px;border-radius:5px 5px 0 0">
                    <h3 style="color:#fff;" class="text-uppercase">Driver Registration Form</h3>
                </div>
            </div>
            <div class="row">

                <div class="col-md-12" style="background-color:#E9E9EB;padding-bottom:50px;border-bottom-left-radius:5px;border-bottom-right-radius:5px">
                    <br><br>


                    @using (Html.BeginForm("Register", "Drivers", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs nav-justified" role="tablist" style="margin:20px">
                            <li class="nav-item">
                                <a class="nav-link active nd" data-toggle="tab" href="#driver">Driver</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nv" data-toggle="tab" href="#vehicle">Vehicle</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nl" data-toggle="tab" href="#login">Login Detail</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div id="driver" class="container tab-pane active">

                                <div style="background-color:white;border-top:2px solid #59D1D3;padding-top:15px;border-radius:5px;padding-bottom:10px;width:100%;">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <h5>PERSONAL DETAIL</h5><br />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-12" for="name"><b>Driver Name</b></label>
                                                        <div class="col-sm-12">
                                                            @Html.EditorFor(model => model.DriverName, new { htmlAttributes = new { @class = "form-control", placeholder = "Driver Name" } })
                                                            @Html.ValidationMessageFor(model => model.DriverName, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                @*<div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-sm-12" for="name"><b>Last Name</b></label>
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" id="owner" placeholder="Driver Name">
                                </div>
                            </div>
                        </div>*@
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-12" for="address"><b>Driver Address</b></label>
                                                        <div class="col-sm-12">
                                                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", placeholder = "Driver Address" } })
                                                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-12" for="Gender"><b>Gender</b></label>
                                                        <div class="col-sm-12">
                                                            <select class="form-control" id="gender" name="gender">
                                                                <option value="1">Male</option>
                                                                <option value="2">Female</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-12" for="dateOfBirth"><b>Date of Birth</b></label>
                                                        <div class="col-sm-12">
                                                            @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-12" for="nationality"><b>Nationality</b></label>
                                                        <div class="col-sm-12">
                                                            @Html.EditorFor(model => model.Nationality, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.Nationality, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>


                                        </div>
                                        <div class="col-md-3" style="padding-right:30px">
                                            <div class="form-group" style="border-top:2px solid #59D1D3;background-image:url('../../images/driverProfile.jpg');background-repeat:no-repeat; height:100%;width:100%;">
                                                <input type="file" name="DrImage" id="DrImage">
                                                <img src="" style="margin:-2px" />
                                            </div>
                                        </div>



                                        <div class="form-group col-md-6">
                                            <label class="control-label col-sm-12" for="city"><b>City</b></label>
                                            <div class="col-sm-12">
                                                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", placeholder = "City" } })
                                                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })

                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="control-label col-sm-12" for="postCode"><b>Post Code</b></label>
                                            <div class="col-sm-12">
                                                @Html.EditorFor(model => model.PostCode, new { htmlAttributes = new { @class = "form-control", placeholder = "Post Code" } })
                                                @Html.ValidationMessageFor(model => model.PostCode, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-sm-12" for=" email"><b>Email</b></label>
                                                <div class="col-sm-12">
                                                    @Html.EditorFor(model => model.DriverEmail, new { htmlAttributes = new { @class = "form-control", @id = "demailId", onchange = "UserCheck1()", placeholder = "Driver Email" } })
                                                    @Html.ValidationMessageFor(model => model.DriverEmail, "", new { @class = "text-danger" })
                                                    <p class="" id="Status1"></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-sm-12" for="phNo"><b>Phone</b></label>
                                                <div class="col-sm-12">
                                                    @Html.EditorFor(model => model.phNo, new { htmlAttributes = new { @class = "form-control", placeholder = "Phone" } })
                                                    @Html.ValidationMessageFor(model => model.phNo, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-sm-12" for=" fax"><b>Fax</b></label>
                                                <div class="col-sm-12">
                                                    @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control", placeholder = "Fax" } })
                                                    @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="control-label col-sm-12" for="joinDate"><b>Join Date</b></label>
                                            <div class="col-sm-12">
                                                @Html.EditorFor(model => model.JoinDate, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.JoinDate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="control-label col-sm-12" for="leftDate"><b>Left Date</b></label>
                                            <div class="col-sm-12">
                                                @Html.EditorFor(model => model.LeftDate, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.LeftDate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label class="control-label col-sm-12"><b>Do you Accept Direct Cards Payments from Passengers (Y/N):</b></label>

                                        </div>
                                        <div class="form-group col-md-2">
                                            <label class="control-label col-sm-12"><b></b></label>
                                            <div class="col-sm-12">
                                                @Html.EditorFor(model => model.DirectCash, new { @class = "custom-control-input" })
                                                @Html.ValidationMessageFor(model => model.DirectCash, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label col-sm-12">
                                                <b>Would you like Account Jobs (Y/N): </b><br />
                                                <i>Note: Account amount is paid after the end of month.</i>
                                            </label>

                                        </div>
                                        <div class="form-group col-md-2">
                                            <label class="control-label col-sm-12"><b></b></label>
                                            <div class="col-sm-12">
                                                @Html.EditorFor(model => model.LikeAccount)
                                                @Html.ValidationMessageFor(model => model.LikeAccount, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div style="background-color:white;border-top:2px solid #5A84B7;padding-top:15px;border-radius:5px;padding-bottom:50px;width:100%;margin-top:20px">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <h5>LICENSE DETAIL</h5><br />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="row">

                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-12" for="NINumber"><b>NI/Tax Number</b></label>
                                                        <div class="col-sm-12">
                                                            @Html.EditorFor(model => model.NiNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "NI/Tax Number" } })
                                                            @Html.ValidationMessageFor(model => model.NiNumber, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-12" for="licenseNo"><b>License Number</b></label>
                                                        <div class="col-sm-12">
                                                            @Html.EditorFor(model => model.DriverLicenseNo, new { htmlAttributes = new { @class = "form-control", placeholder = "License Number" } })
                                                            @Html.ValidationMessageFor(model => model.DriverLicenseNo, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group ">
                                                        <label class="control-label col-sm-12" for="startDate"><b>License issue Date</b></label>
                                                        <div class="col-sm-12">
                                                            @Html.EditorFor(model => model.IssueDate, new { htmlAttributes = new { @class = "form-control  ", placeholder = "dd/mm/yyyy" } })
                                                            @Html.ValidationMessageFor(model => model.IssueDate, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group ">
                                                        <label class="control-label col-sm-12" for="expDate"><b>License Expiry Date</b></label>
                                                        <div class="col-sm-12">
                                                            @Html.EditorFor(model => model.ExpiryDate, new { htmlAttributes = new { @class = "form-control  ", placeholder = "dd/mm/yyyy" } })
                                                            @Html.ValidationMessageFor(model => model.ExpiryDate, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-3" style="padding-right:30px;margin-top:-30px">
                                            <div class="form-group" style="border-top:2px solid #59D1D3;background-image:url('../../images/driverProfile.jpg');background-repeat:no-repeat; height:100%;width:100%;">
                                                <input type="file" name="LcImage" id="LcImage" class="form-control-file" />
                                                <img src="" style="margin:-2px" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group ">
                                                <label class="control-label col-sm-12" for="licensetype"><b>Driver Pco License No.</b></label>
                                                <div class="col-sm-12">

                                                    @Html.EditorFor(model => model.PcoDriverLicenseNo, new { htmlAttributes = new { @class = "form-control", placeholder = "Driver Pco License No" } })
                                                    @Html.ValidationMessageFor(model => model.PcoDriverLicenseNo, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="control-label col-sm-12" for="InsuPre"><b>Driver Pco License Issue</b></label>
                                            <div class="col-sm-12">
                                                @Html.EditorFor(model => model.PcoDriverLicenseIssueDate, new { htmlAttributes = new { @class = "form-control", placeholder = "dd/mm/yyyy" } })
                                                @Html.ValidationMessageFor(model => model.PcoDriverLicenseIssueDate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group ">
                                                <label class="control-label col-sm-12" for="licensetype"><b>Driver Pco License Expiry</b></label>
                                                <div class="col-sm-12">
                                                    @Html.EditorFor(model => model.PcoDriverLicenseExpiryDate, new { htmlAttributes = new { @class = "form-control", placeholder = "dd/mm/yyyy" } })
                                                    @Html.ValidationMessageFor(model => model.PcoDriverLicenseExpiryDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label class="control-label col-sm-12" for="selfEmployed"><b>Self Employed/UTR</b></label>
                                            <div class="col-sm-12">
                                                @Html.EditorFor(model => model.selfEmployed, new { htmlAttributes = new { @class = "form-control", placeholder = "Self Employed/UTR" } })
                                                @Html.ValidationMessageFor(model => model.selfEmployed, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div><br />
                                </div>

                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs nav-justified" role="tablist" style="margin:20px">
                                    <li class="nav-item">
                                        <a class="nav-link nextbtn" data-toggle="tab" href="#vehicle">Next</a>
                                    </li>
                                </ul>

                            </div>

                            @* --------------------- *@
                            <div id="vehicle" class="container tab-pane fade">

                                <div style="background-color:white;border-top:2px solid #5A84B7;padding-top:15px;border-radius:5px;padding-bottom:50px;width:100%;margin-top:20px">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <h5>VEHICLE DETAIL</h5><br />
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-sm-12" for="carType"><b>Car Type</b></label>
                                                        <div class="col-sm-12">
                                                            @Html.EditorFor(model => model.CarType, new { htmlAttributes = new { @class = "form-control", placeholder = "Car Type" } })
                                                            @Html.ValidationMessageFor(model => model.CarType, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group ">
                                                        <label class="control-label col-sm-12" for="model"><b>Car Model</b></label>
                                                        <div class="col-sm-12">
                                                            @Html.EditorFor(model => model.CarModel, new { htmlAttributes = new { @class = "form-control", placeholder = "Car Model" } })
                                                            @Html.ValidationMessageFor(model => model.CarModel, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group ">
                                                        <label class="control-label col-sm-12" for="make"><b>Make</b></label>
                                                        <div class="col-sm-12">
                                                            @Html.EditorFor(model => model.Make, new { htmlAttributes = new { @class = "form-control", placeholder = "Make" } })
                                                            @Html.ValidationMessageFor(model => model.Make, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group ">
                                                        <label class="control-label col-sm-12" for="year"><b>Year</b></label>
                                                        <div class="col-sm-12">
                                                            @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
                                                            @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group ">
                                                        <label class="control-label col-sm-12" for="disc"><b>Description/Car size</b></label>
                                                        <div class="col-sm-12">
                                                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", placeholder = "Description" } })
                                                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-3" style="padding-right:30px">
                                            <div class="form-group" style="border-top:2px solid #59D1D3;background-image:url('../../images/driverProfile.jpg');background-repeat:no-repeat; height:100%;width:100%;">
                                                <input type="file" name="CrImg" id="CrImg" class="form-control-file" />
                                                <img src="" style="margin:-2px" />

                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-sm-12" for="reg"><b>Registration</b></label>
                                                <div class="col-sm-12">
                                                    @Html.EditorFor(model => model.Registration, new { htmlAttributes = new { @class = "form-control", placeholder = "Registration" } })
                                                    @Html.ValidationMessageFor(model => model.Registration, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-sm-12" for="color"><b>Color</b></label>
                                                <div class="col-sm-12">
                                                    @Html.EditorFor(model => model.Color, new { htmlAttributes = new { @class = "form-control", placeholder = "Vehicle Color" } })
                                                    @Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-sm-12" for="passenger"><b>Max Passengers</b></label>
                                                <div class="col-sm-12">
                                                    @Html.EditorFor(model => model.MaxPassenger, new { htmlAttributes = new { @class = "form-control", placeholder = "Max Passengers" } })
                                                    @Html.ValidationMessageFor(model => model.MaxPassenger, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label col-sm-12" for="luggage"><b>Max Luggage</b></label>
                                                <div class="col-sm-12">
                                                    @Html.EditorFor(model => model.MaxLuggage, new { htmlAttributes = new { @class = "form-control", placeholder = "Max Luggages" } })
                                                    @Html.ValidationMessageFor(model => model.MaxLuggage, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-sm-12" for="licenseNo"><b>License No</b></label>
                                                <div class="col-sm-12">
                                                    @Html.EditorFor(model => model.CarLicenseNo, new { htmlAttributes = new { @class = "form-control", placeholder = "Vehicle License No" } })
                                                    @Html.ValidationMessageFor(model => model.CarLicenseNo, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-sm-12" for="licenseExp"><b>License / PCO (Vehicle) expire</b></label>
                                                <div class="col-sm-12">
                                                    @Html.EditorFor(model => model.VehicleLicenseExp, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.VehicleLicenseExp, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-sm-12" for="insurancePrem"><b>Insurance Premium</b></label>
                                                <div class="col-sm-12">
                                                    @Html.EditorFor(model => model.VehicleInsurance, new { htmlAttributes = new { @class = "form-control", placeholder = "Vehicle Insurance Premium" } })
                                                    @Html.ValidationMessageFor(model => model.VehicleInsurance, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-sm-12" for="insuranceExp"><b>Insurance Expiry</b></label>
                                                <div class="col-sm-12">
                                                    @Html.EditorFor(model => model.InsuranceExpiry, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.InsuranceExpiry, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-sm-12" for="motExp"><b>Mot Expiry</b></label>
                                                <div class="col-sm-12">
                                                    @Html.EditorFor(model => model.MotExpire, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.MotExpire, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label col-sm-12" for="roadTaxExp"><b>Road Tax Expiry</b></label>
                                                <div class="col-sm-12">
                                                    @Html.EditorFor(model => model.RoadTaxExpiry, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.RoadTaxExpiry, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <br />

                                </div>
                                <ul class="nav nav-tabs nav-justified" role="tablist" style="margin:20px">
                                    <li class="nav-item">
                                        <a class="nav-link nextbtn2" data-toggle="tab" href="#login">Next</a>
                                    </li>
                                </ul>
                            </div>
                            <div id="login" class="container tab-pane fade">

                                <div style="background-color:white;border-top:2px solid red;padding:15px;border-radius:5px;padding-bottom:50px;width:100%;margin-top:20px">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <h5>LOGINS ACCOUNT DETAIL</h5><br />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label class="control-label col-sm-12" for="userfName"><b>First Name</b></label>
                                            <div class="col-sm-12">
                                                @Html.EditorFor(model => model.UserFirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "First Name" } })
                                                @Html.ValidationMessageFor(model => model.UserFirstName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label col-sm-12" for="userlName"><b>Last Name</b></label>
                                            <div class="col-sm-12">
                                                @Html.EditorFor(model => model.UserLastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Last Name" } })
                                                @Html.ValidationMessageFor(model => model.UserLastName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label col-md-12" for="mobile"><b>Mobile</b></label>
                                            <div class="col-sm-12">
                                                @Html.EditorFor(model => model.UserPhNo, new { htmlAttributes = new { @class = "form-control", placeholder = "Mobile" } })
                                                @Html.ValidationMessageFor(model => model.UserPhNo, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4">
                                            <label class="control-label col-sm-12" for="userEmail"><b>Email</b></label>
                                            <div class="col-sm-12">
                                                @Html.EditorFor(model => model.UserEmail, new { htmlAttributes = new { @class = "form-control", placeholder = "Email", @id = "duemailId", onchange = "UserCheck2()" } })
                                                @Html.ValidationMessageFor(model => model.UserEmail, "", new { @class = "text-danger" })
                                                <p id="Status2"></p>

                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label col-sm-12" for="userPassword"><b>Password</b></label>
                                            <div class="col-sm-12">
                                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
                                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label class="control-label col-sm-12" for="userConfPassword"><b>Confirm Password</b></label>
                                            <div class="col-sm-12">
                                                @Html.EditorFor(model => model.ConformPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Re-Enter Password" } })
                                                @Html.ValidationMessageFor(model => model.ConformPassword, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div style="background-color:white;padding-top:15px;border-radius:5px;padding-bottom:50px;width:100%;margin-top:20px">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <h5>TERMS AND CONDITION</h5><br />
                                        </div>
                                    </div>

                                    <div class=" col-md-12">
                                        @*<div class="form-group col-md-12">
                                                <ol type="seq" class="col-md-12">
                                                    <li>Cab Office will be fully responsible for serving a Job once it has been booked or assigned on website in result of settings, failures or delays in job will result into termination of relationship between cabOffice and partner Cab Office.</li>
                                                    <li>Cab Office will ensure accurate settings (waiting times, freezing and rates) on website all the times for smooth Job handling. Same cabOffice fee will be applicable in case of failures and delays in assigned jobs.</li>
                                                    <li><b>8% fee of total job amount</b> will be charged by cabOffice in every job booked or assigned (Cash and Account) to cab office on monthly basis and will be payable within 7 days of Invoice</li>
                                                    <li>Momin Solutions LTD is trading as cabOffice is not a licensed private hire operator. cabOffice services are acting as a Booking Agent.</li>
                                                    <li>All Standard Contracts and Payment terms are included as per UK law.</li>
                                                </ol>

                                            </div>*@
                                        <hr />
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                                    <input type="checkbox" class="custom-control-input" id="conditionAgreeCheckbox">
                                                    <label class="custom-control-label" for="conditionAgreeCheckbox"><b>I agree </b>to be bound by the terms and conditions</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                                                    <input type="checkbox" class="custom-control-input" id="appAgreeCheckbox">
                                                    <label class="custom-control-label" for="appAgreeCheckbox"><b>I agree </b> that this application form may be used as part of a credit check undertaken by cabOffice and/or their nominated agents.</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row justify-content-center" style="justify-content:center;align-items:center; margin-top:50px">
                                    <button type="submit" style="background-color:#1853a1;color:white;" class="btn btn-lg  text-uppercase  justify-content-center">Register</button>
                                </div>

                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {

            $('.nextbtn').click(function () {
                $('.nv').addClass('active');
                $('.nd').removeClass('active');
                $('.nl').removeClass('active');

                //$('#driver').hide();
                //$('#login').hide();
                $('#vehicle').show();


            });


            $('.nextbtn2').click(function () {
                $('.nl').addClass('active');
                $('.nv').removeClass('active');
                $('.nd').removeClass('active');
                $('#driver').hide();

                $('#vehicle').hide();
                $('#login').show();

            });



            $('.nd').click(function () {

                $('.nextbtn').removeClass('active');
                $('#vehicle').hide();
                $('#login').hide();
                $('#driver').show();

            });


            $('.nv').click(function () {

                $('.nextbtn2').removeClass('active');

                $('#driver').hide();
                $('#login').hide();
                $('#vehicle').show();



            });

            $('.nv').click(function () {

                $('#login').hide();
                $('#driver').hide();
                $('#vehicle').show();

            });

            $('.nl').click(function () {

                $('#driver').hide();

                $('#vehicle').hide();
                $('#login').show();
            });

        });
    </script>

    <script>
    function UserCheck1() {
        $("#Status1").html("Checking...");
        $.post("@Url.Action("CheckEmailAvailability", "Drivers")",
            {
                duseremail: $("#demailId").val()
            },
        function (data) {
            if (data == 0) {
                $("#Status1").html('<font color="Green"></font>');
                $("#demailId").css("border-color", "Green");

            }
            else {
                $("#Status1").html('<font color="Red">This email is already register.</font>');
                $("#demailId").css("border-color", "Red");
                $("#demailId").val("");
            }
        });
    }
    </script>

    <script>
    function UserCheck2() {
        $("#Status2").html("Checking...");
        $.post("@Url.Action("CheckEmailAvailabilityDriverUser", "Drivers")",
            {
                useremail: $("#duemailId").val()

            },
        function (data) {
            if (data == 0) {
                $("#Status2").html('<font color="Green"></font>');
                $("#duemailId").css("border-color", "Green");

            }
            else {
                $("#Status2").html('<font color="Red">This email is already register.</font>');
                $("#duemailId").css("border-color", "Red");
                $("#duemailId").val("");
            }
        });
    }
    </script>



}

